@tailwind base;
@tailwind components;
@tailwind utilities;

.videos {
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(auto-fit, minMax(400px, 1fr));
  justify-content: space-between;
  padding: 3px;
}